{% extends 'base.html.twig' %}

{% block header_img %}
    <img class="slide-image" src="{{ asset('img/todolist_content.jpg') }}" alt="todo list">
{% endblock %}

{% block body %}
    <div class="navbar flex-column flex-md-row">
        <h1>{{ list_title }}</h1>
        <div>
            <a href="{{ path('task_create') }}" class="btn btn-success ms-auto">Créer une tâche</a>
            {% if list_custom_button %}
                <a href="{{ path(list_custom_button.route_name) }}"
                   class="btn btn-{{ list_custom_button.color }} ms-1">
                    {{ list_custom_button.title }}
                </a>
            {% endif %}
        </div>
    </div>

    <div class="row">
        {% if tasks %}
            {% for task in tasks %}
                <div class="col-sm-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a class=" text-decoration-none" href="{{ path('task_edit', {'id' : task.id }) }}">
                                    {{ task.title }}
                                </a>
                            </h5>
                            <p class="card-text">{{ task.content }}</p>
                            <i>{{ task.user ? 'Créée par ' ~ task.user.username|capitalize : 'Anonyme' }}</i>
                            {% if task.user == app.user or (not task.user and is_granted('ROLE_ADMIN')) %}
                                <div class="d-flex">
                                    <form action="{{ path('task_toggle', {'id' : task.id }) }}">
                                        <button class="btn btn-success btn-sm pull-right">
                                            {% if not task.isDone %}Marquer comme faite{% else %}Marquer non terminée{% endif %}
                                        </button>
                                    </form>
                                    <form action="{{ path('task_delete', {'id' : task.id }) }}" class="ms-1">
                                        <button class="btn btn-danger btn-sm pull-right">Supprimer</button>
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            {% include 'task/_no_task_msg.html.twig' %}
        {% endif %}
    </div>
{% endblock %}
